.whiteboard-container {
  z-index: -1;
  position: absolute;
  width: 100%;
  height : 100%;
  overflow: hidden;
  left : 0;
  opacity: 0;
  background: url(free-chalkboard-backgrounds.jpg) no-repeat center;
  background-size : cover;
  background-color : black;
	transition: opacity 0.5s ease-out;
}

.whiteboard-container.active {
   z-index: 10;
   opacity: 1;
}

canvas.whiteboard  {
  position: absolute;
  top: 0;
}

#globalwbc {
  width: 1920px;
  height: 1080px;
  transform-origin: 0 0;
  
}

.active.whiteboard-off > canvas.whiteboard {
  display : none;
}

.active > canvas.whiteboard.translucent {
  opacity : 0.5;
}

