:host {
  font-family: "Courier New", monospace;
}

h1,
h2 {
  color: rgb(12, 34, 56);
}

section.content {
  outline: 10px solid rgb(210, 45, 45);
  outline-offset: -10px;
}

img {
  width: 160px;
  height: auto;
}