.slidedeck section.chart {
  background-color : white;
}

.slidedeck section.chart > table,
.slidedeck section.chart > .chartjs-size-monitor {
  display: none;
}

.slidedeck-book section.chart > .chartjs-size-monitor {
  display: none;
}

.slidedeck section.chart > img.datacard {
    width: 30%;
    opacity: 1;
    margin: 3em auto;
    display: block;
    border: 1px solid silver;
    padding: 1em;   
    background: white;
    position: relative;
    z-index: 1
}

.slidedeck section.chart > img.datacard.past {
  display: none;
}

.slidedeck section.chart > canvas.chartjs-render-monitor {
  position : absolute;
  top : 100px;
}

.slidedeck section hr{
    display: none;
}