@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
.slidedeck {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 32pt;
  /*
        Slide designs.
    */ }
  .slidedeck a:active,
  .slidedeck a:hover,
  .slidedeck a:visited {
    color: #fff; }
  .slidedeck .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .slidedeck .title h1 {
      font-size: 300%; }
    .slidedeck .title h1,
    .slidedeck .title h2 {
      margin: 0; }
    .slidedeck .title p {
      color: #cccccc;
      position: absolute;
      width: 90%;
      left: 5%;
      bottom: 8px; }
