@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");


$base-text-color: #fff;
$base-text-size: 24pt;

/* */

/* Once `:has()` selector is included in major browsers we will be able to move this
   into the main block. See https://www.smashingmagazine.com/2021/06/has-native-css-parent-selector.
*/
.slidedeck.presentation .fadeincontent {
    * {
        opacity: 0;
    }
    &.active * {
        transition: opacity 3s;
        transition-delay: 1s;
        opacity: 1;
    }
}

/* */

.slidedeck {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: $base-text-size;

    &.aspect-ratio-4-3 {
        font-size: $base-text-size * 0.7;
    }

    section {
        background-color: black;
        color: $base-text-color;
            /*
            Slide designs.
        */
        a:active,
        a:hover,
        a:visited {
            color: $base-text-color;
        }

        strong {
            color : orange;
        }

        h1, h2, h3 {
            margin: 20px 30px 40px 30px;
        }

    }

    .title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h1 {
            font-size: 300%;
        }
        h1,
        h2 {
            margin: 0;
        }
        div.block-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -10;
            opacity: 1;
        }
        div.block-image img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            opacity: 1;
        }
        p {
            color: darken($base-text-color, 20%);
            position: absolute;
            width: 90%;
            left: 5%;
            bottom: 8px;
        }
    }

    .imagelist {
        p {
            margin: 0 100px 0 100px;
        }
        ul {
            list-style-type: none;
            margin: $base-text-size*1.2 $base-text-size*2;
            padding : 0;
            display: grid;
            grid-auto-flow: column;

            li {
                display: block;
                margin: 20px;
                
                font-size: 21px;
                text-align: center;

                img {
                    display: block;
                    max-height: 60%;
                    margin: 0 auto 20px auto;
                }
            }
        }

    }

    @mixin single-figure {
        .block-image {
            display: block;
            width: 45%;
            text-align: center;
            height: 100%;
            margin : 0 32px;
        }

        p { 

            margin: 0 $base-text-size * 3;
            br {
                display: block;
                margin: 20px 0;
            }
        }
    }

    .figure-left {
        @include single-figure();
        .block-image {
            float: left;
        }
    }
    .figure-right {
        @include single-figure();
        .block-image {
            float: right;
        }
    }
}

/* --------------------------------------------------------------------------- */

@keyframes fadeIn { 
    from { opacity: 0.20; } 
}

#hall {
    p {
        position: absolute;
        width: 100%;
        top: calc(100% - 200px);
        font-size: 14pt;
        font-color: silver;
    }
    p img {
        width: 64px;
        left: calc(100% - 120px);
        position: relative;
        animation: fadeIn 2s infinite alternate;
    }    
}

#main-title.active {
    .block-image > img {
        margin-top: -150px;
        transition: margin-top 2s 1.5s;
        transition-timing-function: ease-out;
    }
}