@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");


$base-background: white;
$base-text-color: black;
$base-text-size: 24pt;

$base-headers-background: rgba(212,196,63,0.7);
$base-headers-color: white;

/* */

/* Once `:has()` selector is included in major browsers we will be able to move this
   into the main block. See https://www.smashingmagazine.com/2021/06/has-native-css-parent-selector.
*/
.slidedeck.presentation .fadeincontent {
    * {
        opacity: 0;
    }
    &.active * {
        transition: opacity 3s;
        transition-delay: 1s;
        opacity: 1;
    }
}


@mixin cover-image {
    > div.block-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -10;
        opacity: 1;
    }

    > div.block-image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    &.fadedbg > div.block-image{
        opacity : 0.15;
    }

}




/* */

.slidedeck {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: $base-text-size;

    &.aspect-ratio-4-3 {
        font-size: $base-text-size * 0.7;
    }
    
    /*
        General slide color, fonts, etc.
    */
    section {
        background-color: $base-background;
        color: $base-text-color;

        a:active,
        a:hover,
        a:visited {
            color: $base-text-color;
        }

        strong {
            color : orange;
        }

        > h1, > h2, > h3 {
            margin: 20px 30px 40px 30px;
            padding: 4px 16px;
            background-color: $base-headers-background;
            color: $base-headers-color;
        }

    }

    .title {
        @include cover-image();

        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        > h1 {
            font-size: 300%;
        }
        > h1,
        > h2 {
            margin: 0;
            width: 80%;
        }
        > h2 {
            padding-bottom: 20px;
        }
        > p {
            color: darken($base-text-color, 20%);
            position: absolute;
            width: 90%;
            left: 5%;
            bottom: 8px;
        }
    }

    .curtain {
        @include cover-image();

        > h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 45%;
            background: $base-headers-background;
            margin: 0;
            bottom: 0;
            position: absolute;
            width: 100%;
        }        
    }

    .agenda {
        @include cover-image();

        > ul {
            display: flex;
            flex-wrap: wrap;            
            list-style: none;
            width: 100%;
            margin: 0 0 0 2.5%;
            padding: 0;

            counter-reset: agenda-list-counter;

        }

        > ul > li {
            width: 30%;
            min-height: 6em;
            margin: 0.5em;
            padding: 0.5em 1em 0.5em 0.4em;
            border-left: 2px solid silver;

            counter-increment: agenda-list-counter;
        }

        > ul > li::before {
            content: "0" counter(agenda-list-counter);
            font-weight: bold;
            font-size: 3rem;
            margin-right: 0.5rem;
            line-height: 1;
        }

    }


    .list {
        > p {
            margin: 0 100px 0 100px;
        }

        > ul {
            list-style-type: none;
            margin: $base-text-size*1.2 $base-text-size*2;
            padding : 0;
            display: grid;
            grid-auto-flow: column;

            li {
                display: block;
                margin: 20px;
                
                font-size: 21px;
                text-align: center;

                img {
                    display: block;
                    max-height: 60%;
                    margin: 0 auto 20px auto;
                }

                span {
                    color: lighten(  $base-text-color, 50% );
                }
            }
        }

    }

